Conque-Shell
SuperTab
ctrlp.vim
nerdtree
taskpaper.vim
vim-airline
vim-fugitive
vim-gitgutter
vim-sensible
vim-surround
FuzzyFinder/
L9/
Tagbar/
ack.vim/
bufexplorer.zip/
comments.vim/
Gundo/
rails.vim/
ruby.vim/
